body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom right, #fff, #4d4d4d);
}
p{
    text-align: justify;
    text-indent: 50px;
    line-height: 30px;
    color: #383838;
}
div#interface{
    width: 90%;
    margin: 70px auto 0 auto ;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    padding: 10px;
    border-radius: 5px 5px 0 0 ;
}
header#cabecalho {
    height: 130px;
    text-align: center;
}
header#cabecalho h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 0px 0px 3px #242424; 
    padding: 0;
    margin-bottom: 0;
}
header#cabecalho h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    color: #888;
    padding: 0;
    margin-top: 5px;
}
header#cabecalho img#icone{
    position: absolute;
    left: 83%;
    top: 120px;
}
/* Formatação de imagem*/

figure.foto-legenda{
    position: relative;
    border: 8px solid #fff;
    box-shadow: 1px 1px 4px #000;
}
figure.foto-legenda img{
    width: 100%;
    height: 100%;
}
figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}
figure.foto-legenda figcaption:hover{
    opacity: 1;
}
/* Formatação do meno*/
nav#menu {
    display: block;
}

nav#menu ul{
    list-style: none;
    position: absolute;
    width: 80%;
    top: 0;
    text-align: right;
    background: url('../_imagens/glass-logo-peq-trasparent.png') no-repeat;
    
}
nav#menu li{
    display: inline-block;
    padding: 10px;
    margin: 2px;
    background: #606060; 
    transition: background 1s;
    border-radius: 5px;
}
nav#menu li:hover{
    background: rgb(255, 130, 63);
}
nav#menu a{
    text-decoration: none;
    color: #fff;
    
}
nav#menu h1{
    display: none;
}
article#noticia-principal h2{
    font-size: 16pt;
    color: #606060;
    background: rgba(0, 0, 0, .3);
    padding: 12px;
}
article#noticia-principal h1, h3{
    color: #606060;
}
section#corpo{
    display: block;
    width: 53%;
    float: left;
    padding: 15px;
}
table#tablespec caption{
    font-size: 20pt;
    color: rgb(77, 77, 77);
}
table#tablespec span{
    display: block;
    float: right;
    font-size: 10pt;
    margin-top: 10px;
    color: #4d4d4d;
}
table#tablespec{
    border: 1px solid #4d4d4d;
    border-spacing: 0px;
}
table#tablespec td{
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
}
table#tablespec td.coluna-esquerda{
    color: #fff;
    background: #606060;
    vertical-align: top;
    font-weight: bold;
    text-align: right;
}
table#tablespec td.coluna-direita{
    text-align: left;
    background: #999;
}
aside#lateral{
    display: block;
    width: 42%;
    float: right;
    margin-top: 116px;
    padding: 10px;
    background: rgba(0, 0, 0, .1);
    box-shadow: 2px 2px 5px #000;
}
aside#lateral h2{
    font-size: 16pt;
    color: #606060;
    background: rgba(0, 0, 0, .3);
    padding: 12px;
}
aside#lateral h3{
    color: #606060;
}
footer#rodape{
    clear: both;
}
footer#rodape p{
    text-align: center;
    margin: 0;
    
}
footer#rodape a{
    text-decoration: none;
    color: #606060;
}